<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="http://phwd.github.com/wolfrevokcats/css/style.css?v=3">
  <link href="http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,bold,bolditalic" rel="stylesheet" type="text/css" >
  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="http://phwd.github.com/wolfrevokcats/js/libs/modernizr-1.7.min.js"></script>
  <script type='text/javascript'
        src='http://files.quickmediasolutions.com/stackad/stackad.min.js'>
` </script>
</head>

<body>

  <div id="container">
		<div id="top">
			<header itemscope itemtype="http://data-vocabulary.org/Person">
				 <div id="header-top">
					<nav>
						<ul>
							<li><a href="http://phwd.github.com/wolfrevokcats/">home</a></li>
							<li><a href="mailto:philippeharewood@gmail.com">contact</a></li>
							<!--Yea, though I walk through the valley of the shadow of bacn -->
							<!--I fear no spam, for thou filters art with me. -->
						</ul>
					</nav>
				</div>
			</header>
		</div> <!-- end of #top -->
		<div id="main" role="main">
			<div id="content">
			{{ content }}
			</div>
			<div id="sidebar">
				<div id="sidebar-content">
					<div class='stackad' data-site='stackoverflow.com'></div>	
					<footer>
						<p style="width: 300px;">&copy; 2012 This content sourced from <a href="http://stackexchange.com">Stack Exchange, Inc.</a> and user contributions of said site are distributed under the creative commons <a href="http://creativecommons.org/licenses/by-sa/3.0/">“Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)” license</a>. <a href="http://blog.stackoverflow.com/2009/06/attribution-required/">Attribution is required</a></p>
					</footer>
				</div> <!-- end of #sidebar-content -->
			</div>
		</div> <!-- end of #main -->
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='http://phwd.github.com/wolfrevokcats/js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="http://phwd.github.com/wolfrevokcats/js/plugins.js"></script>
  <script src="http://phwd.github.com/wolfrevokcats/js/script.js"></script>
  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-23088433-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
